.usercard-container {
    padding: 20px;
    margin: 20px;
    border-radius: 14px;
    width: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .usercard-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .usercard-container img {
    width: 300px;
    height: auto; 
  }
  
  .usercard-container p {
    text-align: justify;
  }
  
  .Day.usercard-container,
  .Day.button {
    background-color: rgb(210, 210, 210);
    color: #111111;
  }
  
  .Night.usercard-container,
  .Night.button {
    background-color: #444;
    color: #eee;
  }
  
  .usercard-secondary-info {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  
  .button {
    border: 2px solid transparent;
    padding: 8px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.1);
  }
  